body,html{
  margin: 0px;
  padding: 0px;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
}
*{
  box-sizing: border-box;
}