.chat-container-wrapper{
  display: flex;
  flex: 1;
}
.chat-container{
 max-width: 600px;
 background: rgb(2, 0, 0);
 filter: drop-shadow(1px 1px 10px rgb(211, 208, 208));
 flex: 1;
 display: flex;
 height: 100%;
 flex-direction:column;
}
.chat-container .chat{
    flex: 1 0 100px;
    overflow-y: scroll;
    padding: 1rem;
    overflow-x: hidden;
}
.chat-container .chat::-webkit-scrollbar{
    width: 3px;
}
.chat-container .chat::-webkit-scrollbar-thumb{
    width: 3px;
    background: rgb(253, 253, 253);
    border-radius: 10px;
}

.chat-container .controls{
    display: flex;
    align-items: center;
    background: white;
    font-size: 2rem;
    border:1px solid rgb(222, 222, 223);
}

.button{
    padding:10px 16px;
    background: none;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.button.send{
    background: rgb(13, 19, 99);
}
.input-element{
    flex: 1;
}
.input-element input{
    width: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

@media screen and (min-width:600px){
   .chat-container-wrapper {
       justify-content: center;
       margin-bottom: 2rem;
   }
}

.actions-container {
    display: flex;
    background: white;
    justify-content: space-around;
}

.actions-container .action{
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.actions-container .action:hover{
    transform: scale(0.8);
}