.container{
    height: 100vh;
    background: linear-gradient(45deg,rgb(23, 23, 226),rgb(250, 122, 233));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .img{
  text-align: center;
  margin-bottom: 2rem;
}
.container img{
    width: 15rem;
}
.input-wrapper{
    margin: 1rem 5px;
}
.input-wrapper.error input{
    background: rgb(252, 107, 107);
}

.form{
    background:white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: sans-serif;
}
.form input{
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid mediumspringgreen;
}
.form-actions{
    display: flex;
    justify-content: center;
    margin-top:5px;
}
.form-actions button{
    outline: none;
    border: none;
    background: blue;
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition:all 0.1s linear;
    box-sizing: border-box;
    border: 2px solid white;
}
.form-actions button:hover{
    color: blue;
    background: white;
    border: 2px solid blue;
}


