.info-message-wrapper,
.warn-message-wrapper {
    display: flex;
    justify-content: center;
}
.info-message-container,
.warn-message-container{
    max-width: 75%;
    background: rgb(46, 110, 184);
    color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bold;
    margin: 5px 0px;
    border-radius: 5px;
}

.warn-message-container{
    background: rgb(247, 95, 35);
}